<!doctype html>

<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>ProgressBar.js - Minimal Example</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">  
      <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    
    <body>
      <h1>Harmen Fuite</h1>

      <div class="container-bars"><br>
          <div class="bar" id="ruby">Ruby on Rails</div>
          <div class="bar" id="html">HTML5</div>
          <div class="bar" id="json">JSON</div>
          <div class="bar" id="sql">SQL</div>
      </div>

      
      <script src="../assets/js/script.js"></script>
      <script src="../assets/js/progressbar.js"></script>
  </body>

</html>